In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv('comptage-velo-donnees-compteurs.csv', sep=';')

,Identifiant du compteur,Nom du compteur,Identifiant du site de comptage,Nom du site de comptage,Comptage horaire,Date et heure de comptage,Date d'installation du site de comptage,Lien vers photo du site de comptage,Coordonnées géographiques,Identifiant technique compteur,ID Photos,test_lien_vers_photos_du_site_de_comptage_,id_photo_1,url_sites,type_dimage,mois_annee_comptage
0,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T08:00:00+01:00,2012-02-22,https://filer.eco-counter-tools.com/file/09/73...,"48.83507, 2.33305",Y2H20114504,https://filer.eco-counter-tools.com/file/09/73...,https://filer.eco-counter-tools.com/file/09/73...,https:,https://www.eco-visio.net/Photos/100003098,jpg,2023-11
1,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T04:00:00+01:00,2012-02-22,https://filer.eco-counter-tools.com/file/09/73...,"48.83507, 2.33305",Y2H20114504,https://filer.eco-counter-tools.com/file/09/73...,https://filer.eco-counter-tools.com/file/09/73...,https:,https://www.eco-visio.net/Photos/100003098,jpg,2023-11
2,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T06:00:00+01:00,2012-02-22,https://filer.eco-counter-tools.com/file/09/73...,"48.83507, 2.33305",Y2H20114504,https://filer.eco-counter-tools.com/file/09/73...,https://filer.eco-counter-tools.com/file/09/73...,https:,https://www.eco-visio.net/Photos/100003098,jpg,2023-11
3,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T10:00:00+01:00,2012-02-22,https://filer.eco-counter-tools.com/file/09/73...,"48.83507, 2.33305",Y2H20114504,https://filer.eco-counter-tools.com/file/09/73...,https://filer.eco-counter-tools.com/file/09/73...,https:,https://www.eco-visio.net/Photos/100003098,jpg,2023-11
4,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T05:00:00+01:00,2012-02-22,https://filer.eco-counter-tools.com/file/09/73...,"48.83507, 2.33305",Y2H20114504,https://filer.eco-counter-tools.com/file/09/73...,https://filer.eco-counter-tools.com/file/09/73...,https:,https://www.eco-visio.net/Photos/100003098,jpg,2023-11

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930768 entries, 0 to 930767
Data columns (total 16 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   Identifiant du compteur                     867808 non-null  object
 1   Nom du compteur                             930768 non-null  object
 2   Identifiant du site de comptage             867808 non-null  float64
 3   Nom du site de comptage                     867808 non-null  object
 4   Comptage horaire                            930768 non-null  int64
 5   Date et heure de comptage                   930768 non-null  object
 6   Date d'installation du site de comptage     867808 non-null  object
 7   Lien vers photo du site de comptage         858141 non-null  object
 8   Coordonnées géographiques                   867808 non-null  object
 9   Identifiant technique compteur              858139 non-null  object
 10  ID Photos                                   858141 non-null  object
 11  test_lien_vers_photos_du_site_de_comptage_  858141 non-null  object
 12  id_photo_1                                  858141 non-null  object
 13  url_sites                                   867808 non-null  object
 14  type_dimage                                 858141 non-null  object
 15  mois_annee_comptage                         930768 non-null  object
dtypes: float64(1), int64(1), object(14)
memory usage: 113.6+ MB

In [8]:
df.columns

Index(['Identifiant du compteur', 'Nom du compteur',
       'Identifiant du site de comptage', 'Nom du site de comptage',
       'Comptage horaire', 'Date et heure de comptage',
       'Date d'installation du site de comptage',
       'Lien vers photo du site de comptage', 'Coordonnées géographiques',
       'Identifiant technique compteur', 'ID Photos',
       'test_lien_vers_photos_du_site_de_comptage_', 'id_photo_1', 'url_sites',
       'type_dimage', 'mois_annee_comptage'],
      dtype='object')

In [20]:
df.drop(columns=['ID Photos','Lien vers photo du site de comptage','test_lien_vers_photos_du_site_de_comptage_','id_photo_1', 'url_sites','type_dimage','mois_annee_comptage'], inplace=True)

In [10]:
df.head(5)

,Identifiant du compteur,Nom du compteur,Identifiant du site de comptage,Nom du site de comptage,Comptage horaire,Date et heure de comptage,Date d'installation du site de comptage,Coordonnées géographiques,Identifiant technique compteur
0,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T08:00:00+01:00,2012-02-22,"48.83507, 2.33305",Y2H20114504
1,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T04:00:00+01:00,2012-02-22,"48.83507, 2.33305",Y2H20114504
2,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T06:00:00+01:00,2012-02-22,"48.83507, 2.33305",Y2H20114504
3,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T10:00:00+01:00,2012-02-22,"48.83507, 2.33305",Y2H20114504
4,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T05:00:00+01:00,2012-02-22,"48.83507, 2.33305",Y2H20114504

In [5]:
df[df[['counter_id', 'counter_name'] == '100007049-102007049',]

SyntaxError: incomplete input (1326672915.py, line 1)

In [11]:
df.columns

Index(['Identifiant du compteur', 'Nom du compteur',
       'Identifiant du site de comptage', 'Nom du site de comptage',
       'Comptage horaire', 'Date et heure de comptage',
       'Date d'installation du site de comptage', 'Coordonnées géographiques',
       'Identifiant technique compteur'],
      dtype='object')

In [21]:
df = df.rename(columns={
    'Identifiant du compteur': 'counter_id',
    'Nom du compteur': 'counter_name',
    'Identifiant du site de comptage': 'site_id',
    'Nom du site de comptage': 'site_name',
    'Comptage horaire': 'bike_count',
    'Date et heure de comptage': 'date',
    'Date d\'installation du site de comptage': 'counter_installation_date',
    'Coordonnées géographiques': 'coordinates',
    'Identifiant technique compteur': 'counter_technical_id'
})

In [22]:
df.head(5)

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id
0,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T08:00:00+01:00,2012-02-22,"48.83507, 2.33305",Y2H20114504
1,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T04:00:00+01:00,2012-02-22,"48.83507, 2.33305",Y2H20114504
2,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T06:00:00+01:00,2012-02-22,"48.83507, 2.33305",Y2H20114504
3,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T10:00:00+01:00,2012-02-22,"48.83507, 2.33305",Y2H20114504
4,100003098-101003098,106 avenue Denfert Rochereau NE-SO,100003098.0,106 avenue Denfert Rochereau,0,2023-11-01T05:00:00+01:00,2012-02-22,"48.83507, 2.33305",Y2H20114504

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930768 entries, 0 to 930767
Data columns (total 9 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   counter_id                 867808 non-null  object
 1   counter_name               930768 non-null  object
 2   site_id                    867808 non-null  float64
 3   site_name                  867808 non-null  object
 4   bike_count                 930768 non-null  int64
 5   date                       930768 non-null  object
 6   counter_installation_date  867808 non-null  object
 7   coordinates                867808 non-null  object
 8   counter_technical_id       858139 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 63.9+ MB

In [23]:
df['latitude'] = df['coordinates'].str.split(',').str[0]
df['longitude'] = df['coordinates'].str.split(',').str[1]
df['log_bike_count'] = np.log(df['bike_count'])

c:\ProgramData\Anaconda3\envs\PYDS\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [24]:
df[['counter_id', 'counter_name', 'site_name', 'coordinates', 'counter_technical_id']] = df[['counter_id', 'counter_name', 'site_name', 'coordinates', 'counter_technical_id']].astype('category')
#df['site_id'] = df['site_id'].astype('int64')
#df['date'] = pd.to_datetime(df['date'], )
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930768 entries, 0 to 930767
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   counter_id                 867808 non-null  category
 1   counter_name               930768 non-null  category
 2   site_id                    867808 non-null  float64
 3   site_name                  867808 non-null  category
 4   bike_count                 930768 non-null  int64
 5   date                       930768 non-null  object
 6   counter_installation_date  867808 non-null  object
 7   coordinates                867808 non-null  category
 8   counter_technical_id       858139 non-null  category
 9   latitude                   867808 non-null  object
 10  longitude                  867808 non-null  object
 11  log_bike_count             930768 non-null  float64
dtypes: category(5), float64(2), int64(1), object(4)
memory usage: 54.2+ MB

In [25]:
df_copy = df.copy()
df_copy['date'] = pd.to_datetime(df['date'])
df_copy.info()

C:\Users\emman\AppData\Local\Temp\ipykernel_60436\4131657525.py:2: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df_copy['date'] = pd.to_datetime(df['date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930768 entries, 0 to 930767
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   counter_id                 867808 non-null  category
 1   counter_name               930768 non-null  category
 2   site_id                    867808 non-null  float64
 3   site_name                  867808 non-null  category
 4   bike_count                 930768 non-null  int64
 5   date                       930768 non-null  object
 6   counter_installation_date  867808 non-null  object
 7   coordinates                867808 non-null  category
 8   counter_technical_id       858139 non-null  category
 9   latitude                   867808 non-null  object
 10  longitude                  867808 non-null  object
 11  log_bike_count             930768 non-null  float64
dtypes: category(5), float64(2), int64(1), object(4)
memory usage: 54.2+ MB

In [30]:
df_copy = df_copy.sort_values(by='date', ascending=True)
df_copy

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,log_bike_count
757448,100060174-101060174,21 boulevard Saint Michel S-N,100060174.0,21 boulevard Saint Michel,0,2022-03-27 23:00:00+02:00,2020-05-20,"48.851525, 2.343298",NaN,48.851525,2.343298,-inf
309628,100047548-103047548,Face au 25 quai de l'Oise NE-SO,100047548.0,Face au 25 quai de l'Oise,0,2022-04-05 05:00:00+02:00,2018-11-28,"48.89141, 2.38482",Y2H20083609,48.89141,2.38482,-inf
317466,100047548-104047548,Face au 25 quai de l'Oise SO-NE,100047548.0,Face au 25 quai de l'Oise,0,2022-04-05 23:00:00+02:00,2018-11-28,"48.89141, 2.38482",Y2H20083609,48.89141,2.38482,-inf
9687,100003099-353242239,100 rue La Fayette O-E,100003099.0,100 rue La Fayette,0,2022-06-23 23:00:00+02:00,2012-02-22,"48.87813, 2.3497",NaN,48.87813,2.3497,-inf
212471,100047541-353326452,Pont National SO-NE,100047541.0,Pont National,5,2022-08-03 15:00:00+02:00,2018-12-05,"48.82639, 2.38448",Y2H22053370,48.82639,2.38448,1.609438
...,...,...,...,...,...,...,...,...,...,...,...,...
854359,300030121-353354988,72 boulevard Brune NO-SE,300030121.0,72 boulevard Brune,17,2024-12-07 23:00:00+01:00,2023-01-24,"48.82561, 2.314274",Y2H22115087,48.82561,2.314274,2.833213
385113,100049408-101049408,10 boulevard Auguste Blanqui NE-SO,100049408.0,10 boulevard Auguste Blanqui,20,2024-12-07 23:00:00+01:00,2018-12-06,"48.83082, 2.35317",Y2H18086319,48.83082,2.35317,2.995732
660111,100056334-104056334,38 rue Turbigo SO-NE,100056334.0,38 rue Turbigo,64,2024-12-07 23:00:00+01:00,2019-12-10,"48.86502, 2.35387",Y2H19070380,48.86502,2.35387,4.158883
193816,100047538-101047538,Face au 16 avenue de la Porte des Ternes O-E,100047538.0,Face au 16 avenue de la Porte des Ternes,4,2024-12-07 23:00:00+01:00,2018-11-28,"48.88168, 2.28113",Y2H18086314,48.88168,2.28113,1.386294
603730,100056330-103056330,36 quai de Grenelle SO-NE,100056330.0,36 quai de Grenelle,13,2024-12-07 23:00:00+01:00,2019-11-14,"48.85174, 2.28593",Y2H19070376,48.85174,2.28593,2.564949

In [33]:
df1 = df_copy.copy()
site_ids = [
    100007049, 100036718, 100036719, 100042374, 100044493, 100047542, 100047545,
    100047546, 100047547, 100047548, 100049407, 100050876, 100056046, 100056047,
    100056223, 100056226, 100056327, 100056329, 100056330, 100056331, 100056332,
    100056334, 100056335, 100056336, 100057329, 100057380, 100057445, 100060178,
    100063175, 300014702
]
df1 = df1[df1['site_id'].isin(site_ids)]
df1

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,log_bike_count
309628,100047548-103047548,Face au 25 quai de l'Oise NE-SO,100047548.0,Face au 25 quai de l'Oise,0,2022-04-05 05:00:00+02:00,2018-11-28,"48.89141, 2.38482",Y2H20083609,48.89141,2.38482,-inf
317466,100047548-104047548,Face au 25 quai de l'Oise SO-NE,100047548.0,Face au 25 quai de l'Oise,0,2022-04-05 23:00:00+02:00,2018-11-28,"48.89141, 2.38482",Y2H20083609,48.89141,2.38482,-inf
632390,100056332-104056332,Pont de Bercy SO-NE,100056332.0,Pont de Bercy,9,2023-11-01 04:00:00+01:00,2019-12-11,"48.83848, 2.37587",Y2H19070378,48.83848,2.37587,2.197225
623041,100056332-103056332,Pont de Bercy NE-SO,100056332.0,Pont de Bercy,11,2023-11-01 04:00:00+01:00,2019-12-11,"48.83848, 2.37587",Y2H19070378,48.83848,2.37587,2.397895
19334,100007049-102007049,28 boulevard Diderot E-O,100007049.0,28 boulevard Diderot,2,2023-11-01 04:00:00+01:00,2013-01-18,"48.84613, 2.37559",Y2H21015011,48.84613,2.37559,0.693147
...,...,...,...,...,...,...,...,...,...,...,...,...
376897,100049407-353255859,152 boulevard du Montparnasse O-E,100049407.0,152 boulevard du Montparnasse,21,2024-12-07 23:00:00+01:00,2018-12-07,"48.84017, 2.33438",Y2H21015072,48.84017,2.33438,3.044522
260977,100047545-103047545,Face 104 rue d'Aubervilliers N-S,100047545.0,Face 104 rue d'Aubervilliers,11,2024-12-07 23:00:00+01:00,2018-11-29,"48.890457, 2.368852",Y2H19070335,48.890457,2.368852,2.397895
612752,100056331-104056331,Face au 40 quai D'Issy NE-SO,100056331.0,Face au 40 quai D'Issy,4,2024-12-07 23:00:00+01:00,2019-11-05,"48.83428, 2.26526",Y2H19070377,48.83428,2.26526,1.386294
660111,100056334-104056334,38 rue Turbigo SO-NE,100056334.0,38 rue Turbigo,64,2024-12-07 23:00:00+01:00,2019-12-10,"48.86502, 2.35387",Y2H19070380,48.86502,2.35387,4.158883
603730,100056330-103056330,36 quai de Grenelle SO-NE,100056330.0,36 quai de Grenelle,13,2024-12-07 23:00:00+01:00,2019-11-14,"48.85174, 2.28593",Y2H19070376,48.85174,2.28593,2.564949

In [38]:
df1["date"].dropna(inplace=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 435767 entries, 309628 to 603730
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   counter_id                 435767 non-null  category
 1   counter_name               435767 non-null  category
 2   site_id                    435767 non-null  float64
 3   site_name                  435767 non-null  category
 4   bike_count                 435767 non-null  int64
 5   date                       435767 non-null  object
 6   counter_installation_date  435767 non-null  object
 7   coordinates                435767 non-null  category
 8   counter_technical_id       435767 non-null  category
 9   latitude                   435767 non-null  object
 10  longitude                  435767 non-null  object
 11  log_bike_count             435767 non-null  float64
dtypes: category(5), float64(2), int64(1), object(4)
memory usage: 28.7+ MB

In [47]:
df1['date'] = pd.to_datetime(df1['date'], utc=True)
df1['date'] = df1['date'].dt.tz_localize(None)
df1['counter_installation_date'] = pd.to_datetime(df1['counter_installation_date'])
df1['latitude'] = df1['latitude'].astype('float64')
df1['longitude'] = df1['longitude'].astype('float64')
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 435767 entries, 309628 to 603730
Data columns (total 12 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   counter_id                 435767 non-null  category
 1   counter_name               435767 non-null  category
 2   site_id                    435767 non-null  float64
 3   site_name                  435767 non-null  category
 4   bike_count                 435767 non-null  int64
 5   date                       435767 non-null  datetime64[ns]
 6   counter_installation_date  435767 non-null  datetime64[ns]
 7   coordinates                435767 non-null  category
 8   counter_technical_id       435767 non-null  category
 9   latitude                   435767 non-null  float64
 10  longitude                  435767 non-null  float64
 11  log_bike_count             435767 non-null  float64
dtypes: category(5), datetime64[ns](2), float64(4), int64(1)
memory usage: 28.7 MB

In [ ]:
df1 = df1.sort_values(by='date', ascending=True)
df1

,counter_id,counter_name,site_id,site_name,bike_count,date,counter_installation_date,coordinates,counter_technical_id,latitude,longitude,log_bike_count
309628,100047548-103047548,Face au 25 quai de l'Oise NE-SO,100047548.0,Face au 25 quai de l'Oise,0,2022-04-05 03:00:00,2018-11-28,"48.89141, 2.38482",Y2H20083609,48.89141,2.38482,-inf
317466,100047548-104047548,Face au 25 quai de l'Oise SO-NE,100047548.0,Face au 25 quai de l'Oise,0,2022-04-05 21:00:00,2018-11-28,"48.89141, 2.38482",Y2H20083609,48.89141,2.38482,-inf
507847,100056047-101056047,Pont de la Concorde S-N,100056047.0,Pont de la Concorde,16,2023-11-01 03:00:00,2019-11-08,"48.86382, 2.32006",Y2H24062200,48.86382,2.32006,2.772589
612755,100056331-103056331,Face au 40 quai D'Issy SO-NE,100056331.0,Face au 40 quai D'Issy,0,2023-11-01 03:00:00,2019-11-05,"48.83428, 2.26526",Y2H19070377,48.83428,2.26526,-inf
660114,100056335-104056335,Quai d'Orsay E-O,100056335.0,Quai d'Orsay,64,2023-11-01 03:00:00,2019-11-07,"48.8629, 2.3118",Y2H19070382,48.86290,2.31180,4.158883
...,...,...,...,...,...,...,...,...,...,...,...,...
757445,100057445-104057445,Totem 73 boulevard de Sébastopol S-N,100057445.0,Totem 73 boulevard de Sébastopol,132,2024-12-07 22:00:00,2020-02-11,"48.86377, 2.35096",YTH19111510,48.86377,2.35096,4.882802
710116,100057329-104057329,Totem 85 quai d'Austerlitz NO-SE,100057329.0,Totem 85 quai d'Austerlitz,23,2024-12-07 22:00:00,2020-02-18,"48.84201, 2.36729",YTH19111508,48.84201,2.36729,3.135494
77770,100036719-103036719,18 quai de l'Hôtel de Ville SE-NO,100036719.0,18 quai de l'Hôtel de Ville,42,2024-12-07 22:00:00,2017-07-12,"48.85372, 2.35702",Y2H21015012,48.85372,2.35702,3.737670
58007,100036718-103036718,39 quai François Mauriac SE-NO,100036718.0,39 quai François Mauriac,16,2024-12-07 22:00:00,2017-07-12,"48.83436, 2.377",Y2H21015068,48.83436,2.37700,2.772589
603730,100056330-103056330,36 quai de Grenelle SO-NE,100056330.0,36 quai de Grenelle,13,2024-12-07 22:00:00,2019-11-14,"48.85174, 2.28593",Y2H19070376,48.85174,2.28593,2.564949

: